<!DOCTYPE html>
<!-- generated from ~/app.html -->
<html lang="ru" {{ HTML_ATTRS }}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Программирование по-русски</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <style>
    .container { text-align: justify; max-width: 640px; margin-top: 20px; margin-bottom: 20px }
  </style>
  {{ HEAD }}
</head>

<body {{ BODY_ATTRS }}>
<!-- APP template argument start -->
{{ APP }}
<!-- APP template argument end -->

<!-- generated from ~/app.html -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
      try {
        w.yaCounter46442106 = new Ya.Metrika({
          id: 46442106,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true
        });
      } catch (e) {
      }
    });

    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () {
        n.parentNode.insertBefore(s, n);
      };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else {
      f();
    }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/46442106" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
