<template>
  <table><tbody><tr>
    <td><router-link to="/"><img src="~/static/img/s/cerkovq.png" alt="🏠"></router-link></td>
  <td v-for="ЭлементПути in Путь.slice(0,Путь.length-1)" :key="ЭлементПути.Адрес">
    &nbsp;&gt;&nbsp;<router-link v-bind:to="ЭлементПути.Адрес" exact>{{ ЭлементПути.Заголовок }}</router-link>
  </td>
  <td v-for="ЭлементПути in Путь.slice(Путь.length-1,Путь.length)" :key="ЭлементПути.Адрес">
    &nbsp;&gt;&nbsp;<strong>{{ ЭлементПути.Заголовок }}</strong>
  </td>
  </tr></tbody></table>
</template>

<script>
export default {
  props: [ 'Путь' ],
  data: function() {
    return {
    }
  }
}
</script>
