<template>
  <div>
  <ul v-for="Пункт in Пункты" :key="Пункт.Адрес">
    <li v-if="(Пункт.Адрес === ТекущийАдрес)">{{ Пункт.Заголовок }}</li>
    <li v-else><router-link v-bind:to="Пункт.Адрес" exact>{{ Пункт.Заголовок }}</router-link></li>
  </ul>
  </div>
</template>

<script>
module.exports = {
  props: { ТекущийАдрес: String },
  data: function() {
    return {
      Пункты :
        [ { Заголовок:"Главная", Адрес:"/" }, 
          { Заголовок:"Русификация", Адрес:"/русификация.яргт" },
          { Заголовок:"Ссылки", Адрес:"/links.html" } ]
    }
  } 
}
</script>
