<template>
      <ul>
        <li><router-link to="/как-сделан-этот-сайт.яргт">Как сделан этот сайт</router-link></li>
        <li><a href="/static/sbclt-docs.html">Эксперименты с SBCL</a></li>
        <li><a href="/ссылки.яргт">Ссылки</a></li>
      </ul>
</template>

<script>
export default {  data: () => ({}) }
</script>
