<template>
      <ul>
        <li><router-link to="/сводка-с-фронта.яргт">Сводка с фронта</router-link></li>
        <li><a href="/план.яргт">План действий, даже два</a></li>
        <li><a href="/яроклава-js.яргт">Яроклава - печатаем Rus+Lat без боли</a></li>
        <li><a href="/яролит.яргт">Яролит - правильный транслит</a></li>
        <li><a href="/словарь-переводов-терминов.яргт">Словарь переводов терминов</a></li>
      </ul>
</template>

<script>
export default {  data: () => ({}) }
</script>
