<template>
  <div id="для-vue" class="container" align="justify">
    <table>
      <tbody>
      <tr>
        <td><img src="/img/b/cerkovq-bo.jpg" alt="Храм покрова на Нерли"></td>
        <td>
          <ul>
            <li><a href="план.яргт">План действий</a></li>
            <li><a href="русификация.яргт">Русификация</a></li>
            <li><router-link to="/содержание.яргт" exact>Содержание cайта</router-link></li>
            <li><div><img src="img/s/p2.png"/></div></li>
        </ul>
        </td>
      </tr>
      </tbody>
    </table>



	<p>Засилье английского языка и американских технологий в российском ИТ представляют собой угрозу суверенитету и безопасности России. Есть несколько взаимосвязанных опасных явлений:</p>
	<ul><li>Закладки и жучки. С помощью гугла и смартфонов американская разведка вхожа в любой российский дом и на любое российское предприятие. Может подслушать, а может и диверсию сделать. Историю с иранскими центрифугами все должны знать.</li>
	<li>Замещение русского языка английским. Государство вроде бы понимает, что нужно защищать русский язык, для этого есть программы и фонды. Но в «Иннополисе» преподавание на английском языке - и это всё перечёркивает.</li>
	<li>Консервация отсталости. Американские технологии - плохие. Со своим прагматизмом американцы быстро стартуют и потом долго буксуют. Россия могла бы пойти путём опережающего развития, но для этого нет смелости, а профессионалам это, опять же, не нужно.</li>
	<li>Утечка мозгов. Например, часть команды "Эльбруса" уехала работать в Intel. Причина этого - не только финансовая война, но и плохое управление. Эксперт с 10-летним стажем сегодня должен получать 250 тыр в мес - иначе талантливые юноши уйдут, не видя перспектив.</li></ul>
	
<p>Мы разработали <a href=план.яргт>план действий</a> в той части, которая касается поддержки русского языка и кириллицы</p>

 </div>
</template>

<script>
  export default {
    head: {title: 'Программирование по-русски - главная страница'}
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>

