<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'},{Адрес:'/план.яргт',Заголовок:'План'}]"/>

    <h2>Планы для государства</h2>

    <p>Государство могло бы принять следующие меры по защите кириллицы в компьютерах</p>
    <ul><li>Улучшение поддержки URL в кириллице. Русскоязычные версии бразуеров не должны превращать кириллические буквы в %D1. Для
этого надо работать с поставщиками браузеров и гаджетов</li>
    <li>Электронная почта в кириллице. Существует сервис <a href=http://письмо.рф>письмо.рф</a>, но кириллические адреса не поддерживаются крупными сервисами, такими, как gmail. С ними нужно работать.</li>
    <li>Идентификаторы и комментарии - по русски и в кириллице. Я был шокирован, узнав о том, что комментарии в коде программ для «Эльбруса» по
стандарту - на английском. Этот стандарт попахивает изменой, потому что целевая аудитория здесь явно намечается не русскоговорящая. Государство
может принять стандарт, обязывающий делать русскоязычными комментарии, идентификаторы и имена файлов в программах, разрабатываемых для нужд государства. Наша практика показывает, что уже сегодня это вполне возможно в большинстве популярных технологий.</li>
    <li>В некоторых применениях до сих пор актуальны однобайтные кодировки. Принять единую однобайтную кодировку и заставить всех поставщиков
применять её. Это будет тяжело, но лет через 5 все привыкнут. Кодировка должна быть удобной для сортировки русских слов по алфавиту и
для преобразования регистра.</li>
    <li>Принять обратимый и буквенный стандарт транслитерации и использовать его везде, где не поддерживается кириллица. Обратимость состоит в том, что русский текст однозначно кодируется латинскими буквами и может быть точно восстановлен. Буквенность состоит в отсутствии в кодировке не-букв, например, апострофа, что позволит использовать такой транслит в E-mail, именах пользователей и т.п.</li>
    <li>Пароли, безразличные к текущей раскладке клавиатуры. «Ghbdtn» и «Привет» должны рассматриваться как один и тот же пароль в любом сервисе, созданном для нужд российских граждан. Такая безразличность снижает надёжность паролей там, где кириллица разрешена, но она в паролях почти нигде не разрешена, поэтому потери минимальны. В будущем исключить из паролей латиницу и оставить только кириллицу</li>
    <li>Каталог и конкурс русскоязычных проектов в github и иже. Например, русскоязычные коммиты, русскоязычные имена CSS стилей, русскоязычные имена файлов, русские имена таблиц - это всё отдельные элементы борьбы за русский язык. Имея опыт, я скажу, что это целая тяжёлая война, где далеко не каждое сражение заканчивается победой. Цель сбора информации о таких проектах - поднять моральный дух сторонников РЯ в ИТ, которых англофилы совсем уже затюкали.</li>
    </ul>

    <h2>Планы для себя</h2>
    <p>Я планов наших люблю громадьё. Однако государство вправе игнорировать наши планы, в этом случае приходится выступать, как одинокий воин в поле.
Поэтому у меня есть план для простого гражданина, который я исполняю по мере возможности и к которому может присоединиться любой желающий.</p>
    <ul><li>Раскладка клавиатуры для удобного ввода программных текстов и веб-разметки с массовым использованием кириллицы.
Это уже <a href=https://bitbucket.org/budden/iaroklava-js>сделано</a></li>
    <li>Отдавать предпочтение инструментам, которые сделаны в России и/или хорошо поддерживают русский язык. Делается по мере возможности.</li>
    <li>Там, где кириллица неприменима, последовательно применять один и тот же, обратимый транслит (уже есть <a href=../яролит.яргт>яролит</a>, правда, там кое-что не мешает подправить, плюс нужно написать функции для кодирования-декодирования на разных языках)</li>
    <li>В текстовом редакторе режим, при котором латиница визуально отличима от кириллицы. Было сделано в среде «Яра», но «Яр» непригоден, к примеру, для веб-разработки. <a href=https://budden73.livejournal.com/35987.html>Всё не так уж плохо, работаем</a></li>
    <li>Применять комментарии, идентификаторы и имена файлов на русском везде, где это возможно. При этом вырабатывать единую терминологии. Делается</li>
    <li>Словарь для сбора терминологии. Немного забуксовал, но проект есть, если Бог даст - будет сделан.</li>
    <li>Язык «Яр» - проект разморожен, работаем на базе BlackBoxComponentBuilder. Пока идёт приведение инструментов к приемлемому виду, потом будем расширять язык</li>
    </ul>

    <podelisq
      y-data-title="Сословие айтишников - что у них в голове и как с этим бороться?"
      y-data-description="К какому сословию отнести российского ИТ-шника? Он пронзает пирамиду
  сословий, являя собой гибрид слуги, стражника и священника. И этот немаловажный человек сегодня
  кормится из рук врага, в его ножнах меч, выкованный врагом, он говорит и думает
  на языке врага. Что делать?"
      y-data-url="http://программирование-по-русски/сводка-с-фронта.яргт"
    />

    <gde-ya v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'},{Адрес:'/сводка-с-фронта.яргт',Заголовок:'Сводка с фронта'}]"/>
  </div>

</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';
  import Podelisq from '~/components/Podelisq.vue';

  export default {
    components: {
      GdeYa,
      Podelisq
    },
    head: { title: 'Сводка с фронта' }
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
