<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Заголовок:'Разное'}]"></gde-ya>
    <soderzhanie-razdela-raznoe/>
  </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';
  import SoderzhanieRazdelaRaznoe from "../components/SoderzhanieRazdelaRaznoe";

  export default {
    head: { title: 'Разное'},
    components: {
      SoderzhanieRazdelaRaznoe,
      GdeYa
    },
    data: () => ({})
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>

