<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'}]"></gde-ya>
    <soderzhanie-razdela-rusifikaciya/>
  </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';
  import SoderzhanieRazdelaRusifikaciya from "../components/SoderzhanieRazdelaRusifikaciya";

  export default {
    head: { title: 'Русификация'},
    components: {
      SoderzhanieRazdelaRusifikaciya,
      GdeYa
    },
    data: () => ({})
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>

