<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'},{Адрес:'/сводка-с-фронта.яргт',Заголовок:'Сводка с фронта'}]"/>
    <div>

    <h1 id="суверенитетроссиивитирусскийязык">Русский и английский в ИТ: стена и пробоина</h1>

    <h2>Уязвимости и "жучки"</h2>

    <p>Сегодня у каждого россиянина в кармане - мобильный телефон, который запрограммирован за рубежом. Аппарат соединен
      с глобальными сетями, поэтому может передавать данные за рубеж и дистанционно управляться из-за рубежа. Вот
      неполный список мест, где были найдены уязвимости и "жучки":</p>

    <ul>
      <li><a href="https://news.softodrom.ru/ap/b21410.shtml">жёсткие диски</a></li>

      <li><a href="https://roem.ru/16-10-2017/261396/wi-fi-exploit/">cети WiFi</a></li>

      <li><a href="https://meduza.io/feature/2016/06/07/my-vas-vnimatelno-slushaem">сети сотовой связи</a></li>

      <li><a href="https://pikabu.ru/story/instagram_podslushivaet_i_sledit_za_polzovatelyami_5371863">программа «инстаграм»</a></li>
    </ul>

    <p>В чём угроза? Вот, например, что писал <a href="http://az.lib.ru/g/gomer/text_0060.shtml">Гомер</a> про
      Троянского коня:</p>

    <pre><code>Было судьбой решено, что падет Илион, отворивши
Стены коню, где ахейцы избранные будут скрываться,
Черную участь и смерть приготовив троянам враждебным...
</code></pre>
      <p>В сегодняшнем исполнении это может выглядеть так:</p>
    <p>Через "жучки" в оборудовании сотовых сетей Пентагон подаёт специальную команду одновременно на все
      мобильные телефоны России, которая (через "жучок" в телефоне) вызывает перегрев одной микросхемы на плате
      телефона, за этим следует перегрев аккумулятора, после чего телефон загорается,
      например, <a href="https://youtu.be/ApBdQ9kxgJA?t=95">вот таким образом</a>.

      Последствия одновременного возгорания 100 миллионов сотовых телефонов сопоставимы с ядерным ударом.</p>

    <p><img src="~/static/img/s/apple.jpg" alt="Сгоревший iPhone"/></p>


      <p>Другой вариант известен нам <a href="http://narodstory.net/russkie-skazki.php?id=20">из сказки</a>:
      </p>

      <pre><code>Высоко сижу, далеко гляжу
Не садись на пенёк, не ешь пирожок
</code></pre>
      <p>АНБ знает о вас гораздо больше, чем Маша о Медведе. И не надо успокаивать себя тем, что АНБ где-то далеко -
        Медведь тоже думал, что Маша далеко.</p>

      <p>
        Борьба с "жучками" - это борьба брони и снаряда. Их можно искать, но тот, кто их закладывает, всегда находится в
        преимущественном положении, т.к. на его стороне - инициатива. Если информацию просто украли, то можно даже никогда
        не узнать о месте расположения "жучка". Лучше вообще не попадать в ситуацию, когда мы вынуждены пользоваться
        американскими продуктами для важных дел. Для этого нужно "поднимать" отечественную отрасль ИТ и по возможности
        ставить на ответственные посты лояльных людей. </p>

      <h2 id="зависимостьотамериканскогокошелька">Зависимость от американского кошелька</h2>

      <p>Две вакансии:</p>

      <ul>
        <li><a href="https://www.superjob.ru/vakansii/inzhener-29419643.html">инженер, алгоритмист в корпорацию
          ВНИИЭМ</a>. Зарплата от <b>35000 до 60000 руб/мес</b>. В задачи входит "Разработка алгоритмов для ЦВМ, входящей
          в состав системы управления движением автономного объекта", т.е. что-то насчёт космических аппаратов, а может
          быть, за этим скрываются баллистические ракеты с ядерной боеголовкой.</li>

        <li><p><a href="https://app.crossover.com/x/redirect/job/777?utm_campaign=AvailableJobs">lisp architect</a> в
          компании Crossover. Зарплата <b>$5000/мес</b>. В задачи входит "development of industry-leading real time expert
          system and related products" (извините, если вы не поняли). Я сотрудничал с этой компанией около года и смог
          поднакопить денег на разработку русскоязычного языка программирования. Теперь деньги закончились и я снова работаю в этой организации на этой должности. Там есть ещё "Chief Architect" с
          зарплатой $7500/мес. Я бы не отказался поработать ещё в этой компании, особенно на должности Chief Architect. А
          вот во ВНИИЭМ почему-то не хочется идти.</p></li>
      </ul>

      <p>Одна компания:</p>

      <ul>
        <li><a href="https://www.jetbrains.com/">JetBrains</a>. Мировой лидер в производстве средств разработки.
          Флагманский продукт - IntelliJ IDEA, лучший инструмент для разработки Java, самого популярного языка
          программирования в мире по индексу TIOBE. Основана в 2000 году Сергеем Дмитриевым, Евгением Беляевым и
          Валентином Кипятковым. Основное производство находится в Санкт-Петербурге. Во время работы над этой страницей я
          позвонил в отдел продаж и спросил, есть ли русскоязычная версия IDEA, ответ был: "нет и не планируется".
        </li>
      </ul>

      <p>Любой ИТ-шник ясно видит, что английский язык и американские технологии способствуют преуспеванию, будь то карьера или продажи. А значит, есть мотив использовать английские слова и американские технологии вместо русских везде, где это возможно. Поэтому английский сегодня царствует, а русский - изгой. Лоббируя импортные технологии, большинство ИТ-шников, по сути, являются агентами влияния США, даже если они в душе - патриоты.</p>

      <h2 id="зависимостьотанглийскогоязыка">Зависимость от английского языка</h2>

      <p>Импортные технологии основаны на английском языке. Давайте посмотрим на сайты организаций, продвигающих русский
        язык.</p>

      <p>Страница символики фонда «Русский мир» называется так: <a href=https://www.russkiymir.ru/fund/attribute.php>https://www.russkiymir.ru/fund/attribute.php</a>.
        На ней я насчитал 9 английских слов и аббревиатур. И ведь это страница <b>символики</b>. Представьте себе русский
        триколор с маленькой надписью «Made in USA» в углу. </p>

      На странице <a href="http://минобрнауки.рф/проекты/фцп-русский-язык">федеральной целевой программы «Русский
      язык»</a> дела чуть лучше. Но их электронная почта - 'info@mon.gov.ru'. Gov.ru - это "government of Russia", а не
      то, что вы могли подумать.

      <p>Теперь представим себе, что мы добавили страницу ФЦП «Русский язык» программы в «Избранное», а потом структура
        сайта поменялась и страница исчезла. Тогда при попытке открыть страницу мы увидим текст: <i>«Not Found. The
          requested URL was not found on the server.
          If you entered the URL manually please check your spelling and try again.»</i>. Вот так: я хотел узнать про
        программу продвижения русского языка, а министерство образования и науки РФ мне отвечает на чистом английском!
        Подобным образом поведёт себя и сайт "Русского мира".</p>

      <p>Я показал вам то, что находится на обложке информационных технологий. Из-под капота немного торчат какие-то  разноцветные провода... Вы всё это видели, привыкли и приспособились. Но это не значит, что так и должно быть. Легко возникает ситуация, когда рядовой и ни в чём не повинный гражданин оказывается в тупике из-за незнания английского. Если же зайти в ИТ-отдел, то там английский язык и вовсе доминирует. Вы хотите работать в ИТ-отделе "Русского мира", но не знаете, как по-английски будет "Фонд" и "Символика"? Вы не сможете даже прочитать техническое задание. Извините, вы не подходите.</p>

      <h2 id="рольспециалистовпоитвсовременнойроссии">Роль специалистов по ИТ в современной России</h2>

      <p>А так ли вообще важен этот ИТ-шник? Давайте посмотрим с точки зрения сословий. При царе были разные сословия, например, дворяне, купцы, духовенство. Сейчас сословий нет, но и в наше время род занятий человека определяет его роль в обществе. К какому же сословию отнести ИТ-шника?</p>

      <ul>
        <li>он вроде бы пролетарий, т.к. обслуживает чужие машины</li>

        <li>он - ремесленник, потому что создаёт новые необходимые программы</li>

        <li>он - гонец и стражник, поскольку отвечает за передачу сообщений и охраняет сервера от атак</li>

        <li>он - священник, потому что знает, какие картинки директор смотрит на своём рабочем компьютере и с кем намечает
          вечером встречу в ресторане. Это подобно исповеди, но такая исповедь не добровольна. А также во власти ИТ-шника
          - объяснить руководителю любого ранга, почему со страницы символики фонда "Русский мир" невозможно убрать
          английские слова.
        </li>
      </ul>

      <p>То есть, роль ИТ-сообщества в обществе важна и многогранна. Ни в коем случае не стоит пренебрегать мыслями и интересами ИТ-шника. Сегодня специалист по ИТ воюет мечом, полученным от врага, читает и пишет на языке врага и не прочь пойти поработать на врага.</p>

      <p>Иными словами, в городе - брожение умов, а в крепостой стене - пробоина.</p>

      <h2>Что делать?</h2>

      <p>В целом понятно, что делать и это делается: нужно не только искать закладки, но и устранять зависимость от США в
        ИТ по каждому отдельному пункту. Т.е. создавать "всё своё".</p>

      <p>Но попробуйте обратиться к среднестатистическому ИТ-шнику и предложить ему назвать символику - «символикой», а не
        «attribute». Вам ответят стройной (но не обязательно правдивой) теорией, почему это нельзя, не нужно и вредно.
        Пока ИТ-шник связывает своё благосостояние с американскими деньгами, он будет бороться за право продолжать
        использовать в работе английский язык и американские технологии.</p>

      <p>Понятно, что невозможно залезть в голову каждому ИТ-шнику и поменять его интересы. Но можно дать больше шансов
        тем, кто хочет использовать родной язык и русские технологии. Те, кто непременно хочет использовать именно
        импортное, потеснятся и отойдут в сторону. Таким образом, русский язык может послужить фильтром для очистки
        ИТ-сообщества. Тогда пробоина в стене может начать зарастать.</p>

      <p>Чтобы этот фильтр заработал, государству следует поддерживать хорошие начинания, связанные с русификацией в ИТ - эта русификация далеко не достаточна.</p>

      <p>Дайте уже орден Нуралиеву, создавшему 1С. Замените в ЕГЭ устаревший Паскаль хотя бы на тот же 1С (там уже есть "школьный алгоритмический язык", но на него нет спроса на рынке труда). Примите стандарт о том, что в базах данных, программных кодах, адресах сайтов, сообщениях об ошибках должны использоваться русские слова везде, где это возможно. Дайте приоритет при госзакупках тем технологиям, которые хорошо поддерживают кириллицу. </p>

      <p>Поддержите, в конце концов, нашу работу над «Яром». </p>

      <p>Конечно, можно ограничиться только созданием своих жёстких дисков, операционных систем, процессоров, сетевого
        оборудования. Оно уже и делается (на английском языке) и, возможно, успешно решает поставленные задачи. Но зачем
        нам нужно, чтобы в нашей стране целая отрасль зависела от чужого языка?</p>

      <h2>Русский язык программирования</h2>

      <p>Казалось бы, язык программирования - это сугубо внутренняя технологическая вещь, и в нём всего лишь дюжина
        английских ключевых слов. ИТ-шник скажет вам, что "if" и "else" - это как α и β в геометрии. На самом же деле за
        дюжиной неизбежно тянутся сотни и тысячи других английских слов. И глядишь, вся вражеская армия оказалась внутри
        крепостных стен. Не буду углубляться в подробности (если они интересуют - пишите письма), и сразу перейду к
        выводу: лучше всего сделать так, чтобы вся среда, в которой работает программист, была полностью русскоязычной, а
        английский присутствовал только в качестве гостя. И русский язык программирования тоже нужен. </p>
    </div>
    <podelisq
      y-data-title="Сословие айтишников - что у них в голове и как с этим бороться?"
      y-data-description="К какому сословию отнести российского ИТ-шника? Он пронзает пирамиду
  сословий, являя собой гибрид слуги, стражника и священника. И этот немаловажный человек сегодня
  кормится из рук врага, в его ножнах меч, выкованный врагом, он говорит и думает
  на языке врага. Что делать?"
      y-data-url="http://программирование-по-русски/сводка-с-фронта.яргт"
    />
    <gde-ya v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'},{Адрес:'/сводка-с-фронта.яргт',Заголовок:'Сводка с фронта'}]"/>
  </div>

</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';
  import Podelisq from '~/components/Podelisq.vue';

  export default {
    components: {
      GdeYa,
      Podelisq
    },
    head: { title: 'Сводка с фронта' }
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
