<template title='Терминология'>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'\/русификация.яргт',Заголовок:'Русификация'},{Адрес:'\/словарь-переводов-терминов.яргт',Заголовок:'Словарь переводов терминов'}]"></gde-ya>
    <p>Когда мы писали программный код на русском языке, нам часто попадались слова и аббревиатуры, не имеющие русских аналогов, или наоборот, имеющие несколько переводов, допустим от Оракла и MS SQL. Мы создали и некоторое время поддерживали словарь переводов терминов, учитывающий эту специфику, в формате Гугл Докс. Фактически это была таблица, в которой по строкам шли смыслы, а в колонках - источники переводов. В ячейке находился перевод этого смысла из этого источника. Важно, что именно смысл, а не слово подлежало переводу. К примеру, слово operator многозначно, и каждый его смысл может иметь различные переводы, ещё и зависящие от источника. Кроме того, каждый энтиузиаст русскоязычного программирования (а таких известно, наверное, человек 10 в интернете) имеет свой набор тараканов в голове и является отдельным "источником перевода". В этой ситуации консенсус невозможен, но можно хотя бы зафиксировать различные мнения о том, как нужно переводить тот или иной смысл. 
      </p>
      <p>Также у нас есть <a href="https://bitbucket.org/budden/ppr/src/380b861c15cca4bde1e39b0bf7a20dde506eb6b3/док/словарь.md?at=master&fileviewer=file-view-default">черновики ТЗ</a> на создание веб-приложения для работы со словарём. Это было бы более удобно, чем google docs, но ресурсов завершить это дело тоже не имеется. </p>
      </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';

  export default {
    components: {
      GdeYa
    },
    data: function () {
      return {}
    }
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
