<template>
  <div class="container" align="justify">
  <gde-ya v-bind:Путь="[{Адрес:'содержание.яргт',Заголовок:'Содержание'}]"/>
  <ul>
    <li><router-link to="/">Главная</router-link></li>
    <li><a href="/русификация.яргт">Русификация</a>
      <SoderzhanieRazdelaRusifikaciya/></li>
    <li><a href="/яр.яргт">Язык программирования «Яр»</a>
    <li><a href="/разное.яргт">Разное</a>
      <SoderzhanieRazdelaRaznoe/></li>
    <li><a href="/о-нас.яргт">О нас</a></li>
  </ul>
  </div>
</template>

<script>
import GdeYa from '~/components/GdeYa.vue';
import SoderzhanieRazdelaRusifikaciya from "../components/SoderzhanieRazdelaRusifikaciya";
import SoderzhanieRazdelaRaznoe from "../components/SoderzhanieRazdelaRaznoe";

export default {
  components: {
    SoderzhanieRazdelaRaznoe,
    SoderzhanieRazdelaRusifikaciya,
    GdeYa
  },
  data: () => ({})
}
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
