<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'/разное.яргт',Заголовок:'Разное'},{Заголовок:'Ссылки'}]"/>
    <div>
      <h3>Язык программирования "Яр"</h3>
      <ul>
      <li><a href="https://bitbucket.org/budden/iar">Загрузки и исходники</a></li>
      <li><a href="http://yar.mybb.ru">Форум</a></li>
      <li><a href=https://vk.com/yar_lisp>Группа ВКонтакте</a></li>
      </ul>
      <h3>Люди</h3>
      <ul>
        <li><a href="http://programming.nsu.ru/prepodavatel/gorodnyaya_lidiya_vasilevna">Городняя Лидия Васильевна</a> - сподвижница академика Ершова, автор и соавтор русскоязычных ЯП</li>
        <li><a href="https://vk.com/id138120740">Якушев Ярослав</a> - оказал проекту моральную и финансовую помощь. Спасибо!</li>
        </ul>
      <h3>Каталоги, форумы</h3>
      <ul>
      <li><a href=http://compiler.su/entuziasty-razrabotchiki-kompilyatorov-i-ikh-proekty.php>Перечень разрабатываемых в России ЯП и компиляторов, в т.ч., русскоязычных</a></li>
      <li><a href="http://plana.mybb.ru/">Форум "русскоязычное программирование"</a></li>
      <li><a href="https://vk.com/rusproglng">Группа ВКонтакте "Языки программирования с русским синтаксисом"</a></li>
      </ul>
      <h3>Раскладка клавиатуры, публикации</h3>
      <ul>
      <li><a href="https://budden73.livejournal.com/27328.html">Яро-раскладка клавиатуры</a> - примерно то же, что и <a href="яроклава-js.яргт">Яроклава</a>, только в виде раскладки под Windows</li>
      <li><a href="https://habrahabr.ru/post/108846/">Русские идентификаторы в коде</a> - пост на Хабре</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';

  export default {
    components: {
      GdeYa
    },
    head: {title: 'Ссылки'}
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
