<template>
  <div class="container" align="justify">
    <gde-ya v-bind:Путь="[{Заголовок:'Язык программирования «Яр»'}]"></gde-ya>
    <h2 id="markdown-header-_1">О проекте</h2>
    <p>Яр - это проект разработки русскоязычного языка программирования. Изначальной идеей было взять среду выполнения Common Lisp,
    которая по сей день имеет непревзойдённые преимущества, и снабдить её дружественным простым синтаксисом, похожим на Бейсик. 
    При этом сохранится возможность использования библиотек на Common Lisp. Со временем в этом плане раскрылись определённые недостатки 
    и он был отвергнут.</p>
    <p>Сейчас постепенно прорабатывается другой подход к вопросу создания русскоязычного ЯП, мы готовы к беседе с людьми и организациями,
    заинтересованными в участии</p>
  </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';

  export default {
    head: {title: 'Язык программирования «Яр»'},
    components: {GdeYa},
    data: () => ({})
  }
</script>

<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>

