<template>
  <div id="Для-компонента-vue" class="container" align="justify">
    <gde-ya
      v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'},{Заголовок:'Яролит - правильный транслит'}]"></gde-ya>
    <FORM NAME="Форма" METHOD="POST">

      <H3>Русский текст</H3>

      <div width="100%">
        <textarea class="textarea-width-100" v-model="РусскийТекст" ROWS=8></textarea>
      </div>

      <HR/>

      <INPUT TYPE="button" VALUE="Рус->Lat" v-on:click="greet()"/>
      <HR/>

      <H3>Транслитерированный текст</H3>

      <textarea class="textarea-width-100" v-model="ЯролитерированныйТекст" ROWS=8></textarea>
      <P/>
    </FORM>

    <HR/>

    <h4>Яролитерация - обратимая транслитерация, пригодная для идентификаторов</h4>

    <p>Ни один из упомянутых в Википедии <a href="https://ru.wikipedia.org/wiki/Транслитерация_русского_алфавита_латиницей">стандартов транслитерации кириллицы</a> непригоден для кодирования имён пользователей, E-mail, идентификаторов в программах. Эти стандарты либо превращают некоторые буквы в знаки препинания, либо по преобразованному тексту нельзя восстановить исходный (например, «эй» нельзя отличить от «ей», а Пашу - от Пасхи). Мы предлагаем <b>Яролит</b> - ещё один (не 15-й, а даже 16-й, ха-ха) стандарт транслитерации. <a href=https://budden73.livejournal.com/37189.html>Ссылка на более подробное обоснование</a>.</p>
      <p>Вот таблица преобразования для кириллицы:</p>
<p><table class="ТаблицаТранслита"><tbody><tr>
<td>а</td><td>б</td><td>в</td><td>г</td><td>д</td><td>е</td><td>ё</td><td>ж</td>
<td>з</td><td>и</td><td>й</td><td>к</td><td>л</td><td>м</td><td>н</td><td>о</td></tr>
<tr>
<td>a</td><td>b</td><td>v</td><td>g</td><td>d</td><td>e</td><td>jo</td><td>zh</td>
<td>z</td><td>i</td><td>jj</td><td>k</td><td>l</td><td>m</td><td>n</td><td>o</td>
</tr></tbody></table>
<br>
<table class="ТаблицаТранслита"><tbody><tr>
<td>п</td><td>р</td><td>с</td><td>т</td><td>у</td><td>ф</td><td>х</td><td>ц</td>
<td>ч</td><td>ш</td><td>щ</td><td>ъ</td><td>ы</td><td>ь</td><td>э</td><td>ю</td><td>я</td>
</tr>
<tr>
<td>p</td><td>r</td><td>s</td><td>t</td><td>u</td><td>f</td><td>kh</td><td>c</td>
<td>ch</td><td>sh</td><td>shh</td><td>jq</td><td>y</td><td>q</td><td>eh</td><td>ju</td><td>ja</td>
</tr>
</tbody></table></p>
<p>Почему это обратимо? Потому что H - всегда суффикс, J - всегда префикс в двухбуквенном сочетании.</p>
<p>Кроме того, есть знаки переключения языка. Переключение на английский кодируется как xe, и дальше идёт латиница. Переключение на русский кодируется как xr и далее идёт опять транслит. В латинице x,j,w удваиваются. </p>
    <h4>Транслит Владимира Зайцева</h4>
    <p>Я - не первый, кто придумал обратимый транслит. Первым был Владимир Зайцев. <a href=https://habr.com/post/265455/>В его записи
    на «Хабре»</a> описаны условия, которым должна удовлетворять обратимая транслитерация (наша удовлетворяет обязательным из них, а некоторые можно объявить вкусовщиной). 
</p>
<h4>Сравнение яролита и транслита В. Зайцева</h4>
<p>Задача обратимого транслита кириллицы не имеет красивого решения. Вопрос лишь в том, чем жертвовать. Я считаю, что q - это лучшее изображение для мягкого знака - его просто надо мысленно перевернуть. Твёрдому знаку в любом случае не повезло, т.к. он редок. Но jq всё же чем-то похож на разрезанный твёрдый знак, кусочки которого сложили в строчку и повернули: «q» - это корешки, а «j» - вершки. Учитывая <a href=https://www.dpva.ru/Guide/GuideUnitsAlphabets/Alphabets/FrequencyRuLetters/>частоту использования букв кириллицы</a>, следует постараться закодировать «ы» (1,9%), «ь» (1,7%) и «й» (1,2%) одной буквой. 
Здесь мы выиграли - у В.Зайцева «ы»=«ih», а «ь»=«jh». Двумя буквами представлен «й» = «jj», но он - самый редкий из этой троицы. Если уж пошла речь о частотности, попробуем проверить наше решение на обоснованность. Буквам «я»(2%) и «ч»(1,45%) в любом случае не повезло - их нельзя представить латиницей, их судьба занимать две буквы и мы эту судьбу им осуществили. Заслуженно ли пострадал «х»(0,94%)? Можно сказать, ему не повезло - его латинский аналог забрали под переключатель. Учитывая, что в транслите многие прочитают «x» как «икс», может быть, это не так страшно. </p>
<p>Число незадействованных букв: у Зайцева от кодировки кириллицы остались незанятыми три буквы q,w,x, а у нас только w и x. Я верю, что q потрачен на хорошее дело, но по факту у нас остаётся на расширение меньше. Далее мы истратили x на вставки из других языков - но и Зайцев так мог бы поступить.</p>
<h4>Что надо/можно улучшить?</h4>
<p>Похоже, что улучшать нечего. Данный транслит практически безкомпромиссен - он почти читается, если считать что j - это «йот», как в немецком (а для целей транслита немецкий кажется гораздо более подходящим). Часто встречаемые буквы по возможности сделаны короткими, буквы превращаются в буквы, и плюс можно за счёт переключателей ввести поддержку неограниченного количества других письменностей. Мягкий знак похож на себя. Например, сделать xu - украинский, xg - греческий и т.п. Буква w осталась в запасе. Информация передаётся без потерь. Единственное, в этом примере не закодировано обратное преобразование, но это - дело техники.</p>
<h3>Расширение - дореформенная письменность</h3>
<p>У нас в запасе - буква w, почти всё, что начинается с x, много двухбуквенных последовательностей j«буква», некоторое количество последовательностей «буква»h. Попробуем впихнуть дореформенную орфографию. Особо некогда, вот что получается в виде тяп-ляп:</p>
<p><table class="ТаблицаТранслита"><tbody>
<tr>
<td>і(и)</td><td>ѣ(е,æ:)</td><td>ѳ(ф)</td><td>ѵ(и,в)</td>
</tr><tr>
<td>ih</td><td>jh</td><td>ph</td><td>vh</td></tr>
</tbody></table></p>
<p>Т.е. достаточно легко поместилось. Демо переводит эти буквы, но они не являются частью стадарта</p>
<h3>Ещё расширение - все символы юникода</h3>
<p>Ёмкость буквы j ещё не исчерпана - мы можем закодировать юникодные буквы как jNNNNj, где N - цифры в любом количестве.
Это правило не требует переключения, поскольку мы удваиваем j в латинице. Вероятно, это будет частью стандарта.</p>

    <podelisq
      y-data-title="Яролит - транслит, пригодный для идентификаторов в программах"
      y-data-description="Существующие стандарты транслита непригодны для представления русскоязычных идентификаторов в программах: они либо необратимы, либо превращают часть русских букв в знаки препинания. Предлагаем обратимую версию транслита."
      y-data-url="http://программирование-по-русски/яролит.яргт"
    />
    <gde-ya
      v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'},{Заголовок:'Яролит - правильный транслит'}]"></gde-ya>
  </div>
</template>

<script>
  import GdeYa from '~/components/GdeYa.vue';
  import Podelisq from '~/components/Podelisq.vue';

  export default {
    components: {
      GdeYa,
      Podelisq
    },
    head: {
      title: 'Яролит - правильный транслит'/*,
      script: [
        {type: 'text/javascript', src: "/yarolit/yarolit.js", async: false, encoding: 'utf-8'}
      ]*/
    },
    data: () => ({ РусскийТекст : `В чащах юга жил бы цитрус? Да, но фальшивый экземпляр!

И начяша Князи про малое, се великое млъвити, а сами на себѣ крамолу ковати:
А поганіи съ всѣхъ странъ прихождаху съ побѣдами на землю Рускую.

Hello, X ♥†☭☼`, ЯролитерированныйТекст : "" }),
    methods: {
      ПреобразоватьБукву: function ПреобразоватьБукву(Буква,з) {  

        /// пя = ПоставитьЯзык 
        function пя(НужныйЯзык,текст) {
          if (з.знач == "r" && НужныйЯзык == "e") {
            з.знач = "e";
            return "xe" + текст;
          } else if (з.знач == "e" && НужныйЯзык == "r") {
            з.знач = "r";
            return "xr" + текст;
          } else {
            return текст;
          }
        };

        switch (Буква) {
          case "а": return пя("r","a"); break;
          case "б": return пя("r","b"); break;
          case "в": return пя("r","v"); break;
          case "г": return пя("r","g"); break;
          case "д": return пя("r","d"); break;
          case "е": return пя("r","e"); break;
          case "ё": return пя("r","jo"); break;
          case "ж": return пя("r","zh"); break;
          case "з": return пя("r","z"); break;
          case "и": return пя("r","i"); break;
          case "й": return пя("r","jj"); break;
          case "к": return пя("r","k"); break;
          case "л": return пя("r","l"); break;
          case "м": return пя("r","m"); break;
          case "н": return пя("r","n"); break;
          case "о": return пя("r","o"); break;
          case "п": return пя("r","p"); break;
          case "р": return пя("r","r"); break;
          case "с": return пя("r","s"); break;
          case "т": return пя("r","t"); break;
          case "у": return пя("r","u"); break;
          case "ф": return пя("r","f"); break;
          case "х": return пя("r","kh"); break;
          case "ц": return пя("r","c"); break;
          case "ч": return пя("r","ch"); break;
          case "ш": return пя("r","sh"); break;
          case "щ": return пя("r","shh"); break;
          case "ъ": return пя("r","jq"); break;
          case "ы": return пя("r","y"); break;
          case "ь": return пя("r","q"); break;
          case "э": return пя("r","eh"); break;
          case "ю": return пя("r","ju"); break;
          case "я": return пя("r","ja"); break;

          case "і": return пя("r","ih"); break;
          case "ѣ": return пя("r","jh"); break;
          case "ѳ": return пя("r","ph"); break;
          case "ѵ": return пя("r","vh"); break;
         
          case "А": return пя("r","A"); break;
          case "Б": return пя("r","B"); break;
          case "В": return пя("r","V"); break;
          case "Г": return пя("r","G"); break;
          case "Д": return пя("r","D"); break;
          case "Е": return пя("r","E"); break;
          case "Ё": return пя("r","JO"); break;
          case "Ж": return пя("r","ZH"); break;
          case "З": return пя("r","Z"); break;
          case "И": return пя("r","I"); break;
          case "Й": return пя("r","JJ"); break;
          case "К": return пя("r","K"); break;
          case "Л": return пя("r","L"); break;
          case "М": return пя("r","M"); break;
          case "Н": return пя("r","N"); break;
          case "О": return пя("r","O"); break;
          case "П": return пя("r","P"); break;
          case "Р": return пя("r","R"); break;
          case "С": return пя("r","S"); break;
          case "Т": return пя("r","T"); break;
          case "У": return пя("r","U"); break;
          case "Ф": return пя("r","F"); break;
          case "Х": return пя("r","KH"); break;
          case "Ц": return пя("r","C"); break;
          case "Ч": return пя("r","CH"); break;
          case "Ш": return пя("r","SH"); break;
          case "Щ": return пя("r","SHH"); break;
          case "Ъ": return пя("r","JQ"); break;
          case "Ы": return пя("r","Y"); break;
          case "Ь": return пя("r","Q"); break;
          case "Э": return пя("r","EH"); break;
          case "Ю": return пя("r","JU"); break;
          case "Я": return пя("r","JA"); break;

          case "І": return пя("r","IH"); break;
          case "Ѣ": return пя("r","JH"); break;
          case "Ѳ": return пя("r","PH"); break;
          case "Ѵ": return пя("r","VH"); break;

          case "a": return пя("e","a"); break;
          case "b": return пя("e","b"); break;
          case "c": return пя("e","c"); break;
          case "d": return пя("e","d"); break;
          case "e": return пя("e","e"); break;
          case "f": return пя("e","f"); break;
          case "g": return пя("e","g"); break;
          case "h": return пя("e","h"); break;
          case "i": return пя("e","i"); break;
          case "j": return пя("e","jj"); break;
          case "k": return пя("e","k"); break;
          case "l": return пя("e","l"); break;
          case "m": return пя("e","m"); break;
          case "n": return пя("e","n"); break;
          case "o": return пя("e","o"); break;
          case "p": return пя("e","p"); break;
          case "q": return пя("e","q"); break;
          case "r": return пя("e","r"); break;
          case "s": return пя("e","s"); break;
          case "t": return пя("e","t"); break;
          case "u": return пя("e","u"); break;
          case "v": return пя("e","v"); break;
          case "w": return пя("e","ww"); break;
          case "x": return пя("e","xx"); break;
          case "y": return пя("e","y"); break;
          case "z": return пя("e","z"); break;
          case "A": return пя("e","A"); break;
          case "B": return пя("e","B"); break;
          case "C": return пя("e","C"); break;
          case "D": return пя("e","D"); break;
          case "E": return пя("e","E"); break;
          case "F": return пя("e","F"); break;
          case "G": return пя("e","G"); break;
          case "H": return пя("e","H"); break;
          case "I": return пя("e","I"); break;
          case "J": return пя("e","JJ"); break;
          case "K": return пя("e","K"); break;
          case "L": return пя("e","L"); break;
          case "M": return пя("e","M"); break;
          case "N": return пя("e","N"); break;
          case "O": return пя("e","O"); break;
          case "P": return пя("e","P"); break;
          case "Q": return пя("e","Q"); break;
          case "R": return пя("e","R"); break;
          case "S": return пя("e","S"); break;
          case "T": return пя("e","T"); break;
          case "U": return пя("e","U"); break;
          case "V": return пя("e","V"); break;
          case "W": return пя("e","WW"); break;
          case "X": return пя("e","XX"); break;
          case "Y": return пя("e","Y"); break;
          case "Z": return пя("e","Z"); break;
          default : 
            let код = Буква.charCodeAt(0);
            if (код>255) {
              return "j"+код.toString()+"j";
            } else {
              return Буква; 
            }
        }
      },

      КириллицаВЛатиницу: function () {
        const Рус = this.РусскийТекст;
        var Лат = "";
        /// з = ТекущийЯзык;
        let з={ знач: "r"};
        for (var ц = 0, цМакс = Рус.length; ц < цМакс; ц += 1) {
          Лат = Лат + this.ПреобразоватьБукву(Рус.charAt(ц),з);
        }
        this.ЯролитерированныйТекст = Лат;
      },

      greet: function (event) {
        // `this` внутри методов указывает на экземпляр Vue
        this.КириллицаВЛатиницу();
      }
    }
  }
</script>


<style src="~/node_modules/bootstrap3/dist/css/bootstrap.min.css"/>
<style>
  .textarea-width-100 {
    width: 100%;
    box-sizing: border-box;
  }
  
   .ТаблицаТранслита {
    border-collapse: collapse; /* Убираем двойные границы между ячейками */
    border: 2px solid #000; /* Рамка вокруг таблицы */
   }
   .ТаблицаТранслита TD {
    width: 3em;
    text-align: center;
    border: 1px solid #000; /* Рамка вокруг ячеек */
   }
</style>
