<template>
  <div id="Яроклава-для-шаблона-vue" class="container" align="justify">
    <gde-ya v-bind:Путь="[{Адрес:'/русификация.яргт',Заголовок:'Русификация'},{Адрес:'/яроклава-js.яргт',Заголовок:'Яроклава: печатаем Rus+Lat без боли'}]"/>
    <div>
      <p>С вами Яроклава-js-2018-09-14. Печатайте текст на клавиатуре вашего компьютера. Для ввода латиницы нажмите и удерживайте пробел. Также обратите внимание на дополнительные значки.</p>
      <div id="СодержимоеДляПоказаВместоКлавиатурыВоВремяЗагрузки">
        <h2>Загрузка...</h2>
        <!-- Тормозит блок "поделиться". Нужно либо загружать его асинхронно (наверняка это возможно), либо отключить его. Хотя может быть, что он плохо работает только в локале - проверить -->
      </div>
      <div id="СодержимоеКлавиатурыПоказатьПослеЗагрузки" hidden>
        <textarea v-focus title="Что скажешь?" cols="150" class="ageent_trans" id="textarea_для_ввода" rows="5"
                  spellcheck="false"></textarea>
        <div class="yaroklava" data-target="textarea_для_ввода" id="рискноп"></div>
        <p>для латиницы нажмите и удерживайте кнопку пробел
          <button id='рискноп_покажи_или_скрой_раскладку' title='Показать/скрыть раскладку'
                  data-target='рискноп_раскладка'>...
          </button>
        </p>
        <div class="klaviatura" id="рискноп_раскладка">
          <div class="row">
            <div class="key" id="рискноп_Ё"><span>ё</span></div>
            <div class="key" id="рискноп_1"><span>1</span></div>
            <div class="key" id="рискноп_2"><span>2</span></div>
            <div class="key" id="рискноп_3"><span>3</span></div>
            <div class="key" id="рискноп_4"><span>4</span></div>
            <div class="key" id="рискноп_5"><span>5</span></div>
            <div class="key" id="рискноп_6"><span>6</span></div>
            <div class="key" id="рискноп_7"><span>7</span></div>
            <div class="key" id="рискноп_8"><span>8</span></div>
            <div class="key" id="рискноп_9"><span>9</span></div>
            <div class="key" id="рискноп_0"><span>0</span></div>
            <div class="key" id="рискноп_m"><span>-</span></div>
            <div class="key" id="рискноп_q"><span>=</span></div>
            <div class="key backspace"><span>Зб</span></div>
          </div>

          <div class="row">
            <div class="key tab"><span>Таб</span></div>
            <div class="key" id="рискноп_Й"><span>й</span></div>
            <div class="key" id="рискноп_Ц"><span>ц</span></div>
            <div class="key" id="рискноп_У"><span>у</span></div>
            <div class="key" id="рискноп_К"><span>к</span></div>
            <div class="key" id="рискноп_Е"><span>е</span></div>
            <div class="key" id="рискноп_Н"><span>н</span></div>
            <div class="key" id="рискноп_Г"><span>г</span></div>
            <div class="key" id="рискноп_Ш"><span>ш</span></div>
            <div class="key" id="рискноп_Щ"><span>щ</span></div>
            <div class="key" id="рискноп_З"><span>з</span></div>
            <div class="key" id="рискноп_Х"><span>х</span></div>
            <div class="key" id="рискноп_Ъ"><span>ъ</span></div>
            <div class="key" id="рискноп_k"><span>\</span></div>
          </div>

          <div class="row">
            <div class="key capslock"
                 title="Caps Lock не поддерживается, т.к. веб-браузеры не могут определить, нажат ли он, до начала печати.">
              <span>Caps Lock</span></div>
            <div class="key" id="рискноп_Ф"><span>ф</span></div>
            <div class="key" id="рискноп_Ы"><span>ы</span></div>
            <div class="key" id="рискноп_В"><span>в</span></div>
            <div class="key" id="рискноп_А"><span>а</span></div>
            <div class="key" id="рискноп_П"><span>п</span></div>
            <div class="key" id="рискноп_Р"><span>р</span></div>
            <div class="key" id="рискноп_О"><span>о</span></div>
            <div class="key" id="рискноп_Л"><span>л</span></div>
            <div class="key" id="рискноп_Д"><span>д</span></div>
            <div class="key" id="рискноп_Ж"><span>ж</span></div>
            <div class="key" id="рискноп_Э"><span>э</span></div>
            <div class="key enter"><span>⏎</span></div>
          </div>

          <div class="row">
            <div class="key shift"><span>⇑</span></div>
            <div class="key" id="рискноп_Я"><span>я</span></div>
            <div class="key" id="рискноп_Ч"><span>ч</span></div>
            <div class="key" id="рискноп_С"><span>с</span></div>
            <div class="key" id="рискноп_М"><span>м</span></div>
            <div class="key" id="рискноп_И"><span>и</span></div>
            <div class="key" id="рискноп_Т"><span>т</span></div>
            <div class="key" id="рискноп_Ь"><span>ь</span></div>
            <div class="key" id="рискноп_Б"><span>б</span></div>
            <div class="key" id="рискноп_Ю"><span>ю</span></div>
            <div class="key" id="рискноп_d"><span>.</span></div>
            <div class="key shift"><span>⇑</span></div>
          </div>

          <div class="row">
            <div class="key space" id="рискноп_s"></div>
          </div>
        </div>
      </div>

      <div id="СтрСост_режимПробела"></div>
      <div id="СтрСостПримечание"></div>
      <div id="СтрСост_ключРаскладки"></div>
      <div id="СтрСост_event_тчк_type"></div>
      <h3>См. также:</h3>

      <p><a href="https://www.youtube.com/watch?v=7dLcjXPInjU">Зачем это?</a> - видеоролик</p>
      <p><a href="https://bitbucket.org/budden/iaroklava-js">Исходные тексты</a> - для веб и десктопа (Linux и Windows)</p>
      <p><a href="яролит.яргт">Яролит</a> - обратимая транслитерация для идентификаторов в программах</p>
      <p><a href="index.html">Главная</a></p>
    </div>
  </div>
</template>

// Прекрасно здесь то, что src для style и для скриптов в head
// показываются по разным правилам.
<style src="../static/yaroklava-js/klaviatura.css"></style>

<script>
  import GdeYa from '~/components/GdeYa.vue';

  export default {
    components: {
      GdeYa
    },
    head: {
      title: "Яроклава: печатаем Rus+Lat без боли",
      script: [
        { type: 'text/javascript', src: '/jquery/3.2.1/jquery.js' },
        { type: 'text/javascript', src: '/jquery-caret/jquery.caret.js' },
        { type: 'text/javascript', src: '/yaroklava-js/klaviatura.js' }
      ]
    },
    data: function() {
      return {};
    },
    directives: {
      focus: {
        // https://ru.vuejs.org/v2/guide/custom-directive.html
        inserted: function (эл) {
          эл.focus()
        }
      }
    }
  }
</script>
